<html>
<head>
    <% content_for:stylesheets do %>
  			<%= stylesheet_link_tag "shop.css" %>
  	<%end%>
</head>
<header>
	<!-- Navigation -->
   <header class="navbar navbar-fixed-top navbar-inverse">
	    <div class="container-fluid">
				<div class="navbar-header">
					<a class="navbar-brand">ScholarShip</a>
				</div>
				<nav>
					<ul class="nav navbar-nav navbar-right">
						<li><%= link_to "About Us", '/aboutus', :method => :get %></li>
						<li><%= link_to "Contact Us",'/contactus', :method => :get %> </li> 
						<li><%= link_to "Home", '/homepage', :method => :get %></li>
						<li><%= link_to('Logout', destroy_user_session_path, :method => :delete) %></li> 
					</ul>
				</nav>
		</div>
	
</header>

<body>
    <!-- Page Content-->
    <div class="row">
    	<div class="container-fluid">
            <div class="col-md-3">
                <div class="sidenav">
                   	<%= link_to "Books", '/books', :method => :get, class: "list-group-item"%>
                    <%= link_to "Buy offline", '/buyOffline', :method => :get, class: "list-group-item"%>
                   	<%= link_to "Write a review", '/accessories', :method => :get, class: "list-group-item"%>
                </div>
            </div>
        </div>
    </div>
    <div class="container-fluid">
            <div class="">
                <div class="row">
                    <div class="col-sm-6 col-lg-6 col-md-6">
                    	<% @bkmk.each do|x|%>
							<div class="thumbnail">
	                            <img src="/assets/Bookmark.jpg" alt="">
	                            <div class="caption">
	                                <h4 class="pull-right"><%=x.mrp%></h4>
	                                <h4><a href="#"><%=x.bk_name%></a>
	                                </h4>
	                            </div>
								<p>Size:<%=x.size%></p>
								<br>
								<p>Brand:<%=x.brand%></p>
								<br>
								<p>Details:<%=x.colour%></p>
								<br>
								<p>Stock:<%=x.stock%></p>
								<br>
								<p><%=x.bk_description%></p>
								<br>
								<br>
								 <div class="ratings">
	                                <p>
	                                    <span class="glyphicon glyphicon-star"></span>
	                                    <span class="glyphicon glyphicon-star"></span>
	                                    <span class="glyphicon glyphicon-star"></span>
	                                    <span class="glyphicon glyphicon-star"></span>
	                                </p>
	                            </div>
                       		</div>
						<% end %>
					</div>
               

                    <div class="col-sm-6 col-lg-6 col-md-6">
                    	<% @ntbk.each do|x|%>
							<div class="thumbnail">
	                            <img src="/assets/Notebook.png" alt="">
	                            <div class="caption">
	                                <h4 class="pull-right"><%=x.mrp%></h4>
	                                <h4><a href="#"><%=x.ntbk_name%></a>
	                                </h4>
	                            </div>
								<p>No. of pages:<%=x.pages%></p>
								<br>
								<p>Brand:<%=x.brand%></p>
								<br>
								<p>Details:<%=x.colour%></p>
								<br>
								<p>Stock:<%=x.stock%></p>
								<br>
								<p><%=x.ntbk_description%></p>
								<br>
								<br>
								 <div class="ratings">
	                                <p>
	                                    <span class="glyphicon glyphicon-star"></span>
	                                    <span class="glyphicon glyphicon-star"></span>
	                                    <span class="glyphicon glyphicon-star"></span>
	                                    <span class="glyphicon glyphicon-star"></span>
	                                </p>
	                            </div>
                       		</div>
						<% end %>
					</div>
			</div>
	</div>

	
</body>
<footer class="container-fluid text-right">
    	<p>Copyright &copy; The ScholarShip </p>
	</footer>
</html>
