<p>Name:<%=@book.book_name%></p>
<br>
<p>No. of pages:<%=@book.pages%></p>
<br>
<p>In stock:<%=@book.stock %></p>
<br>
<p>Synopsis:<%=@book.synopsis %></p>
<br>
<p>Author:<%=@book.author %></p>
<br>
<p>Publisher:<%=@book.publisher %></p>
<br>
<p>Genre:<%=@book.genre_name%></p>
<br>
